<div class="intro">
  <div class="header">
    <div class="container-fluid">
      <h1 class="flyer-title pull-xs-left">Coworking Night #{{ night_id }}</h1>
      <h2 class="flyer-subtitle pull-xs-left pull-sm-right">{{ date | date: 'MMM d, yyyy' }} •  AL.com  •  6‑11pm </h2>
      <div class="clearfix"></div>
      <span>If you’ve come to GSD (Get Sh*t Done), then you’ve come to the right place! Attend our events, or invite your team and collaborate, or grab a booth and work solo. Coworking Night is a FREE resource in Huntsville designed to get the minds and talent of our city into motion: learning, creating, and executing ideas into reality.</span>
    </div>
  </div>

	<img class="header-flourish" src="img/header-flourish.png"/>
    <div class="cover-image">
	</div>

	<div class="row row-margin-sm organizer-row">
	  <a class="organizer-credit-link" href="http://openhsv.com" target="_blank">
      <img class="organizer-credit col-xs-12 col-sm-5" src="img/organized-by-open-huntsville.png" alt="Organized by Open Huntsville" />
    </a>
    <p class="col-xs-12 pull-xs-right col-sm-7 organizer-memo">Create your <strong>FREE</strong> Open Huntsville profile: <strong><a href="http://www.openhsv.com">www.openhsv.com</a></strong></p>
  </div>
</div>

<div ng-if="!userIsConnected" class="msg-login">
  <div class="container-fluid">
    <p>Facebook won't let us show you the events until you log in.</p>
    <button type="button" class="btn btn-lg btn-primary mb-lg" ng-click="IntentLogin()">
      <i class="icon icon-facebook"></i>
      <span>Login with Facebook</span>
    </button>
  </div>
</div>

<div ng-if="userIsConnected">
  <div class="container-fluid">
    <div class="row list-events">
      <div class="col-sm-6">
        <div ng-repeat="event in left" class="event">
          <div class="event-detail" event-detail></div>
        </div>
      </div>

      <div class="col-sm-6">
        <div ng-repeat="event in right" class="event">
          <div class="event-detail" event-detail></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row row-margin-xs hidden-xs-down row-photofooter">
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-1.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-2.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-3.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-4.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-5.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-6.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-17.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-8.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-9.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-10.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-11.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-12.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-13.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-14.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/footer-photo-15.jpg" alt="coworking night candid"/>
    </div>
  </div>


  <div class="footnote text-center">
    <div class="container-fluid">
      <span>A big thanks to <a href="http://al.com" target="_blank">AL.com</a> and <a href="http://www.thewildbeancc.com/" target="_blank">Wild Bean Coffee</a> for supporting Coworking Night!</span>
    </div>
  </div>
</footer>