/* BEGIN Bootstrap Additions */

.row-margin-0 {margin-left:0; margin-right:0;}
.row-margin-0 [class*="col-"] {padding-left:0; padding-right:0;}
.row-margin-xs {margin-left:-2px; margin-right:-2px;}
.row-margin-xs [class*="col-"] {padding-left:2px; padding-right:2px;}
.row-margin-sm {margin-left:-4px; margin-right:-4px;}
.row-margin-sm [class*="col-"] {padding-left:4px; padding-right:4px;}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1-5 {
  float: left;
}
.col-xs-1-5 {
  width:20%;
}

@media (min-width: 543px) {
  .col-sm-1-5 {
    float: left;
  }
  .col-sm-1-5 {
    width:20%;
  }
}

img {
  max-width:100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* END Bootstrap Additions */






body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:14px;
  letter-spacing:-0.25px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .3rem;
}

h1 {font-size:26px;}
h2 {font-size:21px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:13px;}
h6 {font-size:10px;}

h4 {
  font-weight:700;
}

h4, h5 {
  letter-spacing:-1px;
}

h5 {
  text-transform: uppercase;
}

h5 strong {
  text-transform: none;
}

.divider {
  color:#c3188d;
  font-weight:700;
  letter-spacing:-0.25em;
  padding-right:.2em;
}

.container-fluid{
  max-width:1400px;
}

.cover-image{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/69546/background-photo-1.jpg");
  background-position: 50% 45%;
  background-size:cover;
  height:260px;
}

.header, .footnote {
  background: #21b24b;
  padding:12px 2.5%;
  color:#fff;
  position:relative;
}

.header-flourish {
  position:absolute;
  width:30%;
  display:block;
  margin-top:0;
}

.organizer-row {
  position:relative;
  margin-top:-24px;
  margin-bottom:10px;
}

.organizer-credit {
  left:-10px;
}

.organizer-memo {
  margin-top:30px;
}

.footnote {
  font-size:1.25em;
}

.event-title a {
    color: #000;
}

.event-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 544px) {

}

@media (min-width: 768px) {
  body {font-size:16px; letter-spacing:0;}
  h1 {font-size:36px;}
  h2 {font-size:30px;}
  h3 {font-size:26px;}
  h4 {font-size:22px;}
  h5 {font-size:16px;}
  h6 {font-size:16px;}
}

@media (min-width: 992px) {

  .organizer-row {
    margin-top:-50px;
  }
  .organizer-memo {
    margin-top:60px;
  }
}

@media (min-width: 1200px) {
  h1 {font-size:44px;}
  h2 {font-size:36px;}
  h3 {font-size:30px;}
  h4 {font-size:24px;}
  h5 {font-size:18px;}
}

@media print {
  body {
    font-size:12px;
    line-height:1.3;
  }
  .cover-image{
    height:160px;
  }

  .event-title, .event-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}