<div class="container-fluid">
    <h1>Event Linter</h1>
    <h2>Rules for Creating Coworking Night Facebook Events</h2>
    <ul>
        <li>Title: as brief as possible - flyer will be truncated after ~44 characters</li>
        <li>Location: "AL.com building - [room]"
            <ul>
                <li ng-repeat="venue in venues">AL.com building - {{ venue.full }}</li>

            </ul>
        </li>

        <li>Time: Include start time and end time</li>
        <li>Description: Begin with one paragraph that is 140 characters or less.  Include remaining description in subsequent paragraphs.</li>
    </ul>

    <div ng-if="!userIsConnected">
        <button type="button" class="btn btn-full btn-blue mb-lg" ng-click="IntentLogin()">
            <i class="icon icon-facebook"></i>
            <span>Login with Facebook</span>
        </button>
    </div>


    <div ng-if="userIsConnected">
    <h2>Upcoming Events</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Owner</th>
                <th>Night</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room Assignment</th>
                <th>Event Capacity</th>
            </tr>
        </thead>
        <tr ng-repeat="event in upcoming" ng-class="{true:'highlight', false:''}[event.is_viewer_admin]">
            <td><a href="https://facebook.com/events/{{ event.id }}">{{ event.name }}</a></td>
            <td><a href="https://facebook.com/{{event.owner.id}}">{{ event.owner.name }}</a> </td>
            <td><a href="#/flyer/{{ event.night_id }}">#{{ event.night_id }}</a></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.title == 'Pass']">{{ event.check.title }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.description == 'Pass']">{{ event.check.description }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.start == 'Pass']">{{ event.check.start }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.end == 'Pass']">{{ event.check.end }}</span></td>
            <td><span class="label" ng-class="{true:'label-warning', false:'label-success'}[event.place.full == 'To Be Posted']">{{ event.place.full }}</td>
            <td><span class="label" ng-class="{'Over Capacity':'label-danger', 'Full':'label-warning', 'Pass':'label-success'}[event.check.size]">{{ event.check.size }}: {{ event.attending_count }}</td>
        </tr>
    </table>

    <h3>Past Events</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Owner</th>
                <th>Night</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room Assignment</th>
                <th>Event Capacity</th>
            </tr>
        </thead>
        <tr ng-repeat="event in past" ng-class="{true:'highlight', false:''}[event.is_viewer_admin]">
            <td><a href="https://facebook.com/events/{{ event.id }}">{{ event.name }}</a></td>
            <td><a href="https://facebook.com/{{event.owner.id}}">{{ event.owner.name }}</a> </td>
            <td><a href="#/flyer/{{ event.night_id }}">#{{ event.night_id }}</a></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.title == 'Pass']">{{ event.check.title }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.description == 'Pass']">{{ event.check.description }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.start == 'Pass']">{{ event.check.start }}</span></td>
            <td><span class="label" ng-class="{true:'label-success', false:'label-danger'}[event.check.end == 'Pass']">{{ event.check.end }}</span></td>
            <td><span class="label" ng-class="{true:'label-warning', false:'label-success'}[event.place.full == 'To Be Posted']">{{ event.place.full }}</td>
            <td><span class="label" ng-class="{'Over Capacity':'label-danger', 'Full':'label-warning', 'Pass':'label-success'}[event.check.capacity]">{{ event.place.capacity }}</td>
        </tr>
    </table>
    </div>
</div>